In [1]:
import pandas as pd

### Carregando dataset

In [2]:
df = pd.read_csv("data/train.csv", header=None, names=['polarity', 'title', 'text'])

In [6]:
cat1 = df["polarity"] == 1

In [7]:
df_cat1 = df[cat1]

In [27]:
df_cat1.head(5)

,polarity,title,text
6,1,Buyer beware,"This is a self-published book, and if you want..."
10,1,The Worst!,A complete waste of time. Typographical errors...
13,1,Oh please,I guess you have to be a romance novel lover f...
14,1,Awful beyond belief!,I feel I have to write to keep others from was...
15,1,Don't try to fool us with fake reviews.,It's glaringly obvious that all of the glowing...

In [31]:
df_cat1.isnull().sum()

polarity      0
title       120
text          0
dtype: int64

In [11]:
cat2 = df["polarity"] == 2

In [12]:
df_cat2 = df[cat2]

In [29]:
df_cat2.head(5)

,polarity,title,text
0,2,Stuning even for the non-gamer,This sound track was beautiful! It paints the ...
1,2,The best soundtrack ever to anything.,I'm reading a lot of reviews saying that this ...
2,2,Amazing!,This soundtrack is my favorite music of all ti...
3,2,Excellent Soundtrack,I truly like this soundtrack and I enjoy video...
4,2,"Remember, Pull Your Jaw Off The Floor After He...","If you've played the game, you know how divine..."

In [30]:
df_cat2.isnull().sum()

polarity     0
title       87
text         0
dtype: int64

### Tratamento de nulos

In [25]:
df_cat1_sem_nulos = df_cat1.dropna()

In [26]:
df_cat2_sem_nulos = df_cat2.dropna()

In [32]:
df_cat1_sem_nulos.isnull().sum()

polarity    0
title       0
text        0
dtype: int64

In [33]:
df_cat2_sem_nulos.isnull().sum()

polarity    0
title       0
text        0
dtype: int64

### Criando novo dataset reduzido

In [36]:
amostra_val=5000
amostra_aleatoria_cat1 = df_cat1_sem_nulos.sample(n=amostra_val)
amostra_aleatoria_cat2 = df_cat2_sem_nulos.sample(n=amostra_val)

In [37]:
amostra_aleatoria_cat1.count()

polarity    5000
title       5000
text        5000
dtype: int64

In [39]:
amostra_aleatoria_cat1.head(5)

,polarity,title,text
338575,1,love the movie but can't watch on my dvd,I saw movie on Netflix and loved it so ordered...
3074471,1,did not meet my expectations,I saw this on sale at my local grocery store. ...
1440425,1,I don't poop with you!,Anyone who gives this CD more than one star is...
1551883,1,Blu-Ray Review,No Doubt one of the worst movies I have ever s...
2274828,1,Not a good adaptation of Fossas,"For one, the correct name of the cat-like weas..."

In [38]:
amostra_aleatoria_cat2.count()

polarity    5000
title       5000
text        5000
dtype: int64

In [40]:
amostra_aleatoria_cat2.head(5)

,polarity,title,text
2667778,2,Nice And Easy,Frank looks and sounds great on this one. He s...
3567552,2,susan,"Love the basket, high quality material, would ..."
1007440,2,Refreshing,I finished this book with a smile on my face -...
3170387,2,So good so far!,I finally changed out my 22 year old windshiel...
3120142,2,"Had it for a couple of years now, and have gif...",I've enjoyed this for 2-3 years now. Looks sha...

### Criando novo dataset

In [46]:
data = pd.concat([amostra_aleatoria_cat1, amostra_aleatoria_cat2], ignore_index=True)
print(data.head(5))

   polarity                                     title  \
0         1  love the movie but can't watch on my dvd
1         1              did not meet my expectations
2         1                    I don't poop with you!
3         1                            Blu-Ray Review
4         1           Not a good adaptation of Fossas

                                                text
0  I saw movie on Netflix and loved it so ordered...
1  I saw this on sale at my local grocery store. ...
2  Anyone who gives this CD more than one star is...
3  No Doubt one of the worst movies I have ever s...
4  For one, the correct name of the cat-like weas...

In [47]:
data.count()

polarity    10000
title       10000
text        10000
dtype: int64

In [52]:
data.to_csv("data/final_data.csv", index=False)

In [53]:
new_data = pd.read_csv("data/final_data.csv")

In [54]:
new_data.head(5)

,polarity,title,text
0,1,love the movie but can't watch on my dvd,I saw movie on Netflix and loved it so ordered...
1,1,did not meet my expectations,I saw this on sale at my local grocery store. ...
2,1,I don't poop with you!,Anyone who gives this CD more than one star is...
3,1,Blu-Ray Review,No Doubt one of the worst movies I have ever s...
4,1,Not a good adaptation of Fossas,"For one, the correct name of the cat-like weas..."

In [55]:
new_data.count()

polarity    10000
title       10000
text        10000
dtype: int64